@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/helpers';

@import 'partials/body';
@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';
@import 'partials/tablet';
@import 'partials/desktop';
