.share-text {
    font-family: $fontR;
    font-size: rem(15px);
    font-weight: $regularR;
    color: $black;
    letter-spacing: 0;
    text-align: center;
    margin-top: rem(47px);

    body.dark & {
        color: $white;
    }
}

.social-media {
    margin-top: rem(24px);
    margin-bottom: rem(47.8px);

    ul {
        display: flex;
        justify-content: space-between;
        padding: 8% 35% 0;

        li {
            list-style: none;
        }
    }
}

footer .copy-text {
    font-family: $fontR;
    font-size: rem(14px);
    font-weight: $regularR;
    color: $black;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    margin-bottom: rem(24px);

    body.dark & {
        color: $white;
    }
}

.facebook-icon {
    background-image: url('../assets/icon_facebook.svg');
    @extend %social-media-icons;
    &:hover {
        background-image: url('../assets/icon_facebook_hover.svg');
    }

    body.dark & {
        &:hover {
            background-image: url('../assets/icon_facebook_noc.svg');
        }
    }
}

.twitter-icon {
    background-image: url('../assets/icon-twitter.svg');
    @extend %social-media-icons;
    &:hover {
        background-image: url('../assets/icon-twitter-hover.svg');
    }

    body.dark & {
        &:hover {
            background-image: url('../assets/icon_twitter_noc.svg');
        }
    }
}

.instagram-icon {
    background-image: url('../assets/icon_instagram.svg');
    @extend %social-media-icons;
    &:hover {
        background-image: url('../assets/icon_instagram-hover.svg');
    }

    body.dark & {
        &:hover {
            background-image: url('../assets/icon_instagram_noc.svg');
        }
    }
}