header .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 22px 24px;
}

.textMenu {
    font-family: $fontM;
    font-size: rem(15px);
    font-weight: $boldM;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
    list-style: none;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    cursor: pointer;

    a {
        color: white;
        text-decoration: none;
    }
}

.menu nav ul {
    background: rgba(87,46,229,0.90);
    display: none;
    width: 100%;
}

#navUl.show {
    display: flex;
    flex-direction: column;
}

.plus-button {
    display: none;
}

// ---- ---- ---- ---- ---- HAMBURGER MENU ---- ---- ---- ---- ----

.hamburger {
    border: 0;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
