// ---- ---- ---- ---- ---- PURPLE LINES ---- ---- ---- ---- ----

.superior-line, .inferior-line {
    display: block;
    background-color: $purple;
    height: 5px;

    body.dark & {
        background: $black;
    }
}

.superior-line {
    margin-bottom: 2.4%;
}

// ---- ---- ---- ---- ---- SECTION 1 ---- ---- ---- ---- ----

h1 {
    font-family: $fontM;
    font-size: rem(25px);
    font-weight: $boldM;
    color: $purple;
    text-align: center;
    line-height: 33px;
    padding: 0 12%;
    margin-top: 0;

    body.dark & {
        color: $white;
    }
}

.aqua-title {
    color: $aqua;
}

.home-ilustration {
    width: 72.8%;
    height: 10.8%;
    margin: 31px auto 0;
    display: flex;
    justify-content: center;
}

.home-ilustration img {
    max-width: 100%;
    max-height: 100%;
}

input[type="text"] {
    border: none;
    margin-left: 14.7%;
    width: 70%;

    body.dark & {
        background: $dark;
    }
}

input::placeholder {
        font-family: $fontR;
        font-size: rem(16px);
        font-weight: $regularR;
        color: #6B7989;
        text-align: left;
    }

.input-container {
    background: #FFFFFF;
    border: 1px solid $purple;
    border-radius: 27px;
    width: 89.1%;
    height: 4.2%;
    margin: 0 auto;
    padding: 13.8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    body.dark & {
        background: $dark;
    }
}

.btn-search {
    background-image: url(../assets/icon-search.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    width: rem(20px);
    height: rem(20px);
    margin-right: 1.25rem;
    border: 0;
}

#section-1 h3 {
    font-family: $fontM;
    font-size: rem(16px);
    font-weight: $boldM;
    color: $purple;
    text-align: center;
    line-height: rem(25px);
    margin-top: rem(31px);
    margin-bottom: rem(2px);

    body.dark & {
        color: $white;
    }
}

#section-1 p {
    font-family: $fontM;
    font-size: rem(14px);
    font-weight: $mediumM;
    color: $purple;
    text-align: center;
    line-height: rem(25px);
    padding: 0 20%;
    margin-top: 0;
    margin-bottom: rem(45px);

    body.dark & {
        color: $white;
    }
}

// ---- ---- ---- ---- ---- SECTION 2 ---- ---- ---- ---- ----

#section-2 {
    background-color: #F3F5F8;
    padding-bottom: rem(86px);

    body.dark & {
        background-color: $darker;

        h2, p {
            color: $white;
        }
    }
}

#section-2 h2 {
    font-family: $fontM;
    font-size: rem(20px);
    font-weight: $boldM;
    color: $purple;
    text-align: center;
    line-height: rem(30px);
    padding-top: rem(46px);
}

#section-2 p {
    font-family: $fontR;
    font-size: rem(16px);
    font-weight: $regularR;
    color: $black;
    text-align: center;
    line-height: rem(23px);
    padding: 7px 5.6% 32px;
}

.button-slider {
    display: none;
}

.gifs-slider {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-left: 22px;
}

.gif-images {
    width: 100%;
    margin-right: rem(22px);

    img {
        width: rem(243px);
        height: rem(187px);
        object-fit: cover;
    }
}

// ---- ---- ---- ---- ---- FAVORITES SECTION ---- ---- ---- ---- ----

.favorites-icon {
    display: flex;
    justify-content: center;
    margin-top: rem(5px);
    margin-bottom: rem(7px);
}

#favoritesSection h2 {
    font-family: $fontM;
    font-size: rem(20px);
    font-weight: $boldM;
    color: $purple;
    text-align: center;
    line-height: rem(30px);
    margin-bottom: rem(46px);
}

.favorites-gifs {
    margin-bottom: 20px;
    width: 46%;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.favorites-gifs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 21px;
}

.button-favorites {
    border: 1px solid #572EE5;
    border-radius: 25px;
    width: rem(127px);
    height: rem(50px);
    display: flex;
    justify-content: center;
    margin: 58px auto 78px;

    &:hover {
        background-color: $purple;
    }

    button {
        font-family: $fontM;
        font-weight: $boldM;
        font-size: rem(13px);
        color: $purple;
        letter-spacing: 0;
        text-align: center;
        border: none;
        background: transparent;

        &:hover {
            color: white;
        }
    }
}