// ---- ---- ---- ---- ---- PURPLE LINES TOP AND BOTTOM ---- ---- ---- ---- ----

.superior-line, .inferior-line {
    display: block;
    background-color: $purple;
    height: 5px;

    body.dark & {
        background: $black;
    }
}

.superior-line {
    margin-bottom: 2.4%;
}

// ---- ---- ---- ---- ---- SEARCH BAR SECTION ---- ---- ---- ---- ----

h1 {
    font-family: $fontM;
    font-size: rem(25px);
    font-weight: $boldM;
    color: $purple;
    text-align: center;
    line-height: 33px;
    padding: 0 12%;
    margin-top: 0;

    .br-title {
        display: none;
    }

    body.dark & {
        color: $white;
    }
}

.aqua-title {
    color: $aqua;
}

.home-ilustration {
    width: 72.8%;
    height: 10.8%;
    margin: 31px auto 0;
    display: flex;
    justify-content: center;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

input[type="text"] {
    border: none;
    margin-left: 14.7%;
    width: 70%;
    outline: none;

    body.dark & {
        background: $dark;
    }
}

input::placeholder {
        font-family: $fontR;
        font-size: rem(16px);
        font-weight: $regularR;
        color: #6B7989;
        text-align: left;
    }

.input-container {
    background: #FFFFFF;
    border: 1px solid $purple;
    border-radius: 27px;
    width: 89.1%;
    height: 4.2%;
    margin: 0 auto;
    padding: 13.8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    body.dark & {
        background: $dark;
        border: 1px solid $white;
    }
}

.btn-search {
    background-image: url('../assets/icon-search.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    width: rem(20px);
    height: rem(20px);
    margin-right: 1.25rem;
    border: 0;
    outline: none;

    body.dark & {
        background-image: url('../assets/icon-search-modo-noct.svg');
    }
}

#searchBarSection {
    h3 {
        font-family: $fontM;
        font-size: rem(16px);
        font-weight: $boldM;
        color: $purple;
        text-align: center;
        line-height: rem(25px);
        margin-top: rem(31px);
        margin-bottom: rem(2px);
    }

    P {
        font-family: $fontM;
        font-size: rem(14px);
        font-weight: $mediumM;
        color: $purple;
        text-align: center;
        line-height: rem(25px);
        padding: 0 20%;
        margin-top: 0;
        margin-bottom: rem(45px);
    }

    .divider {
        width: rem(157px);
        margin: -10px auto 43px;
        opacity: 0.5;
    }

    body.dark & {
        h3, p {
            color: $white;
        }
    }
}

#titleSearchResult {
    font-family: $fontM;
    font-weight: $boldM;
    font-size: rem(25px);
    color: $purple;
    text-align: center;
    line-height: rem(40px);
    margin-bottom: rem(38px);

    body.dark & {
        color: $white;
    }
}

// ---- ---- ---- ---- ---- TRENDING SECTION ---- ---- ---- ---- ----

#trendingSection {
    background-color: #F3F5F8;
    padding-bottom: rem(86px);

    h2 {
        @extend %h2-title;
        padding-top: rem(46px);
    }

    p {
        font-family: $fontR;
        font-size: rem(16px);
        font-weight: $regularR;
        color: $black;
        text-align: center;
        line-height: rem(23px);
        padding: 7px 5.6% 32px;
    }

    body.dark & {
        background-color: $darker;

        h2, p {
            color: $white;
        }
    }
}

.button-slider {
    display: none;
}

.gifs-slider {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-left: 22px;
}

.gif-images {
    width: 100%;
    margin-right: rem(22px);

    img {
        width: rem(243px);
        height: rem(187px);
        object-fit: cover;
    }
}

// ---- ---- ---- ---- ---- FAVORITES SECTION ---- ---- ---- ---- ----

.favorites-icon {
    display: flex;
    justify-content: center;
    margin-top: rem(5px);
    margin-bottom: rem(7px);
}

#favoritesSection h2 {
    @extend %h2-title;
    margin-bottom: rem(46px);

    body.dark & {
        color: $white;
    }
}

.grid-container-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, rem(120px));
    grid-gap: rem(21px);
    margin: 0 rem(21px);

    div {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .gif-hover {
            position: absolute;
            top: 0;
            left: 0;
            background: $purple;
            opacity: 0.6;
            width: 100%;
            height: 100%;  
        }
    }
}

.btn-see-more {
    border: 1px solid $purple;
    border-radius: 25px;
    width: rem(127px);
    height: rem(50px);
    display: flex;
    justify-content: center;
    margin: 58px auto 78px;
    &:hover {
        background-color: $purple;
    }

    body.dark & {
        border: 1px solid $white;
        &:hover {
            background-color: $white;
        }
    }

    button {
        font-family: $fontM;
        font-weight: $boldM;
        font-size: rem(13px);
        color: $purple;
        letter-spacing: 0;
        text-align: center;
        border: none;
        background: transparent;
        outline: none;
        &:hover {
            color: white;
        }

        body.dark & {
            color: $white;
            &:hover {
                color: $black;
            }
        }
    }
}

// ---- ---- ---- ---- ---- HOVER ON GIFS ---- ---- ---- ---- ----

.gif-hover-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: rem(10px);

    .gif-hover-like-btn {
        background-image: url('../../assets/icon-fav.svg');
        background-repeat: no-repeat;
        height: rem(32px);
        width: rem(32px);
        margin-right: rem(10px);
        &:hover {
            background-image: url('../../assets/icon-fav-hover.svg');
        }
        &:active {
            background-image: url('../../assets/icon-fav-active.svg');
        }
    }

    .gif-hover-save-btn {
        background-image: url('../../assets/icon-download.svg');
        background-repeat: no-repeat;
        height: rem(32px);
        width: rem(32px);
        margin-right: rem(10px);
        &:hover {
            background-image: url('../../assets/icon-download-hover.svg');
        }
    }

    .gif-hover-expand-btn {
        background-image: url('../../assets/icon-max-normal.svg');
        background-repeat: no-repeat;
        height: rem(32px);
        width: rem(32px);
        margin-right: rem(10px);
        &:hover {
            background-image: url('../../assets/icon-max-hover.svg');
        }
    }
}

.gif-hover-text {
    margin: rem(80px) rem(18px) 0;

    .gif-hover-user {
        font-family: $fontR;
        font-weight: $regularR;
        font-size: rem(15px);
        color: $white;
        margin-bottom: rem(6px);
    }

    .gif-hover-title {
        font-family: $fontR;
        font-weight: $mediumR;
        font-size: rem(16px);
        color: $white;
    }
}

// ---- ---- ---- ---- ---- GIFS GALLERY EXPANDED ---- ---- ---- ---- ----

.show-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.90);
    display: block;
}

.hide-gallery {
    display: none;
}

#closeGallery {
    background-image: url('../../assets/close.svg');
    background-repeat: no-repeat;
    width: rem(14px);
    height: rem(14px);
    body.dark & {
        background-image: url('../../assets/close-modo-noct.svg');
    }
} 

// ---- ---- ---- ---- ---- MY GIFOS SECTION ---- ---- ---- ---- ----

#myGifosSection {
    .my-gifos-icon {
        display: flex;
        justify-content: center;
        padding-top: rem(5px);
    }

    h2 {
        @extend %h2-title;
        margin: 6px auto 46px;
        
        body.dark & {
            color: $white;
        }
    }
}
