@media screen and (min-width: 960px) {

    .superior-line {
        margin-bottom: 0;
    }

    // Header
    
    .menu nav ul {
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .logo-container {
        margin-left: 10.8%;
        margin-top: 1.5%;
    }

    .menu nav ul li {
        font-size: rem(13px);
        color: $purple;
        line-height: rem(16px);
        border-bottom: none;
        text-transform: uppercase;
        padding: 0 25px;
    }

    .menu {
        margin-right: 10.8%;
    }

    // Section 1 

    h1 {
        font-size: rem(35px);
        line-height: rem(50px);
        padding: 0;
        margin: 5% 17.6% 1.6%;
    }

    .input-container {
        width: 38.3%;
    }

    .home-ilustration {
        width: 27.7%;
    }

    input[type="text"] {
        margin-left: rem(54px);
    }

}