@media screen and (min-width: 960px) {

    .superior-line {
        margin-bottom: 0;
    }

    // Header
    
    .menu nav ul {
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .logo-container {
        margin-left: 10.8%;
        margin-top: 1.5%;
    }

    .menu nav ul li {
        font-size: rem(13px);
        color: $purple;
        line-height: rem(16px);
        border-bottom: none;
        text-transform: uppercase;
        padding: 0 25px;
    }

    .menu {
        margin-right: 10.8%;
    }

    .plus-button {
        display: block;
    }

    // Section 1 

    h1 {
        font-size: rem(35px);
        line-height: rem(50px);
        padding: 0;
        margin: 5% 17.6% 1.6%;
    }

    .input-container {
        width: 38.3%;
    }

    .home-ilustration {
        width: 27.7%;
    }

    input[type="text"] {
        margin-left: rem(54px);
    }

    // Section 2 

    .button-slider {
        display: flex;
        justify-content: space-between;
        margin: 11.3% 6.4% 0;
    }

    .gifs-slider {
        margin: 0 10.8%;
        height: rem(275px);
        position: relative;
        z-index: 9;
        top: rem(-150px);
    }

    // Footer

    footer {
        display: flex;
        justify-content: space-between;
        padding: 49.5px 0;
    }

    .social-media {
        display: flex;
        margin: 0 0 0 10.8%;
    }

    .share-text {
        margin: 0;
    }

    .social-media ul {
        padding: 0;
        margin: 0;

        li {
            padding-left: rem(17px);
        }
    }


    .copy-text {
        margin: 0 11% 0 0;
    }


}