@media screen and (min-width: 768px) {

    // ---- ---- ---- ---- ---- SEARCH SECTION ---- ---- ---- ---- ----

    h1 {
        padding: 0 23%;
    }

    .input-container {
        width: 70%;
    }

    #searchBarSection p {
        padding: 0 30%;
    }

    #suggestionsList {
        margin: 0;
    }

    .grid-container-results {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 4rem 78px;
    }

    // ---- ---- ---- ---- ---- FOOTER ---- ---- ---- ---- ----

    footer {
        display: flex;
        justify-content: space-between;
        padding: 49.5px 0;
    
        .social-media {
            display: flex;
            margin: 0 0 0 10.8%;
        
            .share-text {
                margin: 0;
            }

            ul {
            padding: 0;
            margin: 0;

                li {
                    margin-left: rem(17px);
                }
            }
        }

        .copy-text {
            margin: 0 11% 0 0;
        }
    }
}