// ---- ---- ---- ---- ---- Tipografías ---- ---- ---- ---- ----

$fontM: 'Montserrat', sans-serif;
$fontR: 'Roboto', sans-serif;

// ---- ---- ---- ---- ---- Font weight ---- ---- ---- ---- ----

$mediumM: 500;
$boldM: 700;
$regularR: 400;
$blackR: 900;
$mediumR: 500;

// ---- ---- ---- ---- ---- Colores ---- ---- ---- ---- ----

$white: #FFFFFF;
$aqua: #5ED7C6;
$purple: #572EE5;
$gray: #9CAFC3;
$black: #000000;
$lightGray: #CDD6E0;

// ---- ---- ---- ---- ---- Colores: DARK MODE ---- ---- ---- ---- ----

$dark: #37383C;
$darker: #222326;